body {
  background-color: #000;
  margin-left: 100px;
  margin-right: 100px;
}

.header {
  margin-bottom: 0;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-homepage {
  margin-top: 0;
  background-position: 65% 8rem;
  background-size: 90rem auto;
  background-color: black;
}

.section-hero .section-inner {
  min-height: 35vh;
}

.section-inner {
  background-image: url("banner-home.jpg");
  background-size: cover;
  height: 600px;
}

.section-inner .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 2px solid red;
  border-radius: 5px;
}

.section-inner .button:hover {
  background-color: red;
  border-color: darkred;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-right: 15px;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 15px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.search-icon {
  fill: #fff;
  background-color: black;
}

.section-title {
  color: white;
}

.container {
  max-width: 1200px;
  /* Modified value for better responsiveness */
  margin-left: auto;
  margin-right: auto;
}

.col-1-3 {
  color: white;

}
.section-title {
  color:black;
  text-align: center;
}

.service-item {
  background-color: #ccc;
  text-align: center;
  padding: 20px;
  margin: 10px;
  color:black;
}

.service-item h3 {
  color: black;
  padding: 10px;
  margin-top: 0;
}
#services {
  background-color: #fff;
  padding: 40px 0;
}
.card-title {
  color: black;
  background-color: rgb(219, 213, 213);
}
#works .row {
  display: flex;
  justify-content: center;
}

#works .col-1-3 {
  text-align: center;
}

#works .col-1-3 .content-wrapper {
  padding: 10px;
  margin-top: 10px;
  color: white;
}
.section-tagline {
  text-align: center;
  color:red;
}
.section-body .row {
  display: flex;
}

.section-body .col-1-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-body .col-1-2 img {
  align-self: flex-start;
  margin-right: 20px;
}

.section-body .col-1-2 .text-container {
  margin-top: 50%;
}

.section-body .col-1-2 h3,
.section-body .col-1-2 p {
  margin: 0;
}
.section-footer {
  display: flex;
  justify-content: center;
}

.section-footer .button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  text-decoration: none;
}

.section-footer .button:hover {
  background-color: red;
  color: white;
}
.section-contact {
  background-color: white;
}
